@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Balsamiq Sans", cursive;
  background: #f3f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  display: flex;
  padding: 2rem;
  margin: 0 auto;
  max-width: 100%;
  width: 800px;
}

aside {
  padding: 1rem;
  width: 250px;
  border-right: 1px solid #111;
}

button {
  background-color: white;
  border: 1px solid #111;
  border-radius: 0.3rem;
  cursor: pointer;
  display: block;
  width: 100%;
  padding: 0.6rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

main {
  flex: 1;
  padding: 1rem;
}

h2,
h3 {
  border-bottom: 1px solid #111;
  padding: 0.4rem;
  display: flex;
  justify-content: space-between;
  font-weight: 300;
  margin: 0 0 20px;
}

h3 {
  background-color: white;
  margin: 20px 0 0;
}

.person {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  margin-bottom: 10px;
}
